<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="<%= baseUrl %>/bundle.css">
</head>
<body>
    <div id="root"></div>

    <script>
        <%= typeof user !== undefined ? "var user = " + JSON.stringify(user) : "" %>
        var baseUrl = "<%= baseUrl %>"
    </script>
    <script src="<%= baseUrl %>/bundle.js"></script>
</body>
</html>
