
html, body {
  height: 100%;
  background-color: #f9f9f9;
}

.appContainer {
  padding-bottom: 50px;
  z-index: 0;
}

.header {
  height: 85px;
  z-index: 10;
  background-color: #ffffff;

  .navLogo {
    padding: 0;
    height: 100%;
  }
}